.btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    min-height: rel(48);
    font-size: rel(14);
    line-height: rel(24);
    padding: rel(8) rel(36);
    user-select: none;
    text-align: center;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    display: inline-flex;
    column-gap: rel(8);
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: var(--transition-time);

    &:hover {
        text-decoration: none;
        transition: var(--transition-time);
    }

    &:active {
    }

    &:focus,
    &.focus {
        outline: 0;
    }

    span {
        display: inline-block;
    }

    i {
        font-size: 0;
        line-height: 0;
        display: inline-block;
        height: rel(24);
    }

    @include media-breakpoint-up(xl) {
        min-height: rel(56);
        font-size: rel(18);
        padding: rel(8) rel(40);
    }
}

.btn-primary {
    color: white;
    background-color: var(--black);

    &:hover {
        color: white;
        background-color: var(--orange);
    }

    &:active {
        color: white;
        background-color: var(--black);
    }
}

.btn-outline {
    color: var(--black);
    background-color: white;
    border: 1px solid var(--black);

    &:hover {
        color: white;
        background-color: var(--black);
        border-color: var(--black);
    }

    &:active {
        color: var(--black);
        background-color: white;
        border: 1px solid var(--black);
    }
}

.btn-secondary {
    color: white;
    background-color: var(--orange);
    border: 1px solid var(--orange);

    &:hover {
        color: white;
        background-color: var(--orange-hover);
        border-color: var(--orange-hover);
    }

    &:active {
        color: white;
        background-color: var(--orange);
        border: 1px solid var(--orange);
    }
}

.btn-sm {
    font-size: rel(14);
    line-height: rel(24);
    min-height: rel(40);
    padding: rel(8) rel(24);
}

.btn-md {
    min-height: rel(50);

    @include media-breakpoint-up(md) {
        min-height: rel(60);
        font-size: rel(22);
        line-height: rel(26);
    }
}

.btn-lg {

    @include media-breakpoint-up(xl) {
        font-size: rel(22);
        line-height: rel(28);
        min-height: rel(66);
    }
}

.w-100 {
    width: 100% !important;
}

.btn-link {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-size: rel(16);
    line-height: rel(24);
    color: var(--black);
    stroke: var(--black);
    transition: var(--transition-time);
    display: flex;
    align-items: center;
    column-gap: rel(15);
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;

    span {
        display: block;
    }

    i {
        top: -1px;
        font-size: 0;
        line-height: 0;
        display: inline-block;
        position: relative;
        height: rel(10);
    }

    &:hover {
        color: var(--orange);
        stroke: var(--orange);
        text-decoration: none;
        transition: var(--transition-time);
    }

    &:active {
        color: var(--black);
        stroke: var(--black);
    }
}

.btn-close {
    padding: 0;
    border: none;
    outline: none;
    z-index: 100;
    display: block;
    width: rel(30);
    height: rel(30);
    cursor: pointer;
    fill: var(--black);
    background-color: white;


    @include media-breakpoint-up(xxl) {
        width: rel(55);
        height: rel(55);
    }
}

.btn-nav {
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;
    width: rel(22);
    height: rel(10);
    cursor: pointer;
    background-color: transparent;
    stroke: var(--black);
    transition: var(--transition-time);

    &:hover {
        stroke: var(--orange);
        transition: var(--transition-time);
    }

    &:active {
        stroke: var(--black);
    }

    &:disabled,
    &.disabled {
        opacity: .5;
        cursor: default;
        stroke: var(--black) !important;
    }
}
