@import 'forms/inputs';
@import 'forms/checkboxes';
@import 'forms/radiobuttons';
@import 'forms/choices';
@import 'forms/select';
@import 'forms/range';
@import 'forms/quantity';
@import 'forms/file-field';
@import 'forms/options';

.form-group {
    margin-bottom: rel(24);
}

.form-label {
    display: block;
    font-weight: 400;
    margin-bottom: rel(8);
}
