<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a href="/" class="footer__logo">
                <img src="img/footer_logo.svg" class="img-cover" alt="">
            </a>
            <a href="#" class="footer__button">
                <span>Написать директору</span>
            </a>
        </div>
        <div class="footer-contact footer-contact--sm">
            <div class="footer-contact__header">КОНТАКТЫ</div>
            <div class="footer-contact__content">
                <div class="footer-contact__group">
                    Москва, Ленинградский пр-т, 48
                </div>
                <div class="footer-contact__group">
                    <div class="footer-contact__title">Отдел продаж:</div>
                    <div class="footer-contact__phones">
                        <div>
                            <a href="tel:+74957897117">+7 (495) 789-71-17</a>;
                        </div>
                        <div>
                            <a href="tel:+79030013113">+7 (903) 001-31-13</a>
                        </div>
                    </div>
                </div>
                <div class="footer-contact__group">
                    <div class="footer-contact__title">Электронная почта:</div>
                    <a href="mailto:vnv.shop@mail.ru">vnv.shop@mail.ru</a>
                </div>
            </div>
            <div class="footer-contact__messengers">
                <a href="#" class="footer-messenger">
                    <i>
                        <svg class="ico-svg" viewBox="0 0 32 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprites/sprite.svg#whatsapp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </i>
                    <span>WhatsApp</span>
                </a>
                <a href="#" class="footer-messenger">
                    <i>
                        <svg class="ico-svg" viewBox="0 0 32 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprites/sprite.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </i>
                    <span>Telegram</span>
                </a>
            </div>
        </div>
        <div class="footer__main">
            
            <div class="footer-nav footer-nav--01">
                <div class="footer-nav__title">
                    <span>КРЕПКИЕ НАПИТКИ</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">РОМ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ТЕКИЛЛА</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ДЖИН</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ГРАППА</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">САМБУКА</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">АБСЕНТ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">КАШАСА</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">МЕСКАЛЬ</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--02">
                <div class="footer-nav__title">
                    <span>ВИНО</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">КРЕПЛЕНОЕ ВИНО</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ПЛОДОВОЕ ВИНО</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ВИНО</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ВЕРМУТ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ПОРТВЕЙН</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ХЕРЕС</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--03">
                <div class="footer-nav__title">
                    <span>ВИСКИ</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ШОТЛАНДСКИЙ ВИСКИ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ИРЛАНДСКИЙ ВИСКИ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">АМЕРИКАНСКИЙ ВИСКИ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ЯПОНСКИЙ ВИСКИ</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--04">
                <div class="footer-nav__title">
                    <span>ШАМПАНСКОЕ</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ШАМПАНСКОЕ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ИГРИСТОЕ ВИНО</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">АСТИ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ПРОСЕКО</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">КАВА</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ФРАНЧАКОРТА</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ЛАМБРУСКО</a>
                        </li>

                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--05">
                <div class="footer-nav__title">
                    <span>КОНЬЯК</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">КРЕПЛЕНОЕ ВИНО</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ПЛОДОВОЕ ВИНО</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ВЕРМУТ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ПОРТВЕЙН</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ХЕРЕС</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--06">
                <div class="footer-nav__title">
                    <span>ЛИКЕРЫ</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">НАСТОЙКИ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">БАЛЬЗАМЫ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">СИРОПЫ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ЛИКЕРЫ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">АПЕРИТИВ</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--07">
                <div class="footer-nav__title">
                    <span>ВОДКА</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ВОДКА</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">САМОГН</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">ПОЛКГАР</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">САКЕ</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">РАКИ</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--08">
                <div class="footer-nav__title">
                    <span>СПЕЦПРЕДЛОЖЕНИЯ</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Новинки</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Акции</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Лучшие предложения</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Подарочные наборы</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Программа лояльности</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->
            <div class="footer-nav footer-nav--09">
                <div class="footer-nav__title">
                    <span>ИНФОРМАЦИЯ</span>
                </div>
                <div class="footer-nav__content">
                    <ul class="footer-nav__menu">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Каталог брендов</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">О компании</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Покупка и оплата</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Правила работы</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Вопросы и ответы</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .footer-nav -->


            <div class="footer-contact footer-contact--xl">
                <div class="footer-contact__header">КОНТАКТЫ</div>
                <div class="footer-contact__content">
                    <div class="footer-contact__group">
                        Москва, Ленинградский пр-т, 48
                    </div>
                    <div class="footer-contact__group">
                        <div class="footer-contact__title">Отдел продаж:</div>
                        <div class="footer-contact__phones">
                            <div>
                                <a href="tel:+74957897117">+7 (495) 789-71-17</a>;
                            </div>
                            <div>
                                <a href="tel:+79030013113">+7 (903) 001-31-13</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-contact__group">
                        <div class="footer-contact__title">Электронная почта:</div>
                        <a href="mailto:vnv.shop@mail.ru">vnv.shop@mail.ru</a>
                    </div>
                </div>
                <div class="footer-contact__messengers">
                    <a href="#" class="footer-messenger">
                        <i>
                            <svg class="ico-svg" viewBox="0 0 32 24" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite.svg#whatsapp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                        <span>WhatsApp</span>
                    </a>
                    <a href="#" class="footer-messenger">
                        <i>
                            <svg class="ico-svg" viewBox="0 0 32 24" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                        <span>Telegram</span>
                    </a>
                </div>
            </div>
            <div class="footer__content">
                <div class="footer__lead">
                    2022 - 2025 © Виноград не Виноват - самая эстетичная винотека в Москве.
                </div>
                <div class="footer__text">
                    <p>Алкогольная продукция, представленная на&nbsp;сайте https://vinogradnevinovat.ru/ может быть приобретена только в&nbsp;пункте выдачи по&nbsp;адресу: 125167, г. Москва, Ленинградский пр-т, д.&nbsp;48&nbsp;этаж&nbsp;1, часть помещения&nbsp;V, антресоль&nbsp;1, помещение I.&nbsp;Продажа осуществляется на&nbsp;основании лицензии на&nbsp;розничную продажу алкогольной продукции.</p>
                    <p>
                        ООО &laquo;ВИНОГРАД НЕ&nbsp;ВИНОВАТ&raquo;: номер лицензии: 77РПА0016700, действует с&nbsp;16&nbsp;ноября 2023&nbsp;г.&nbsp;до&nbsp;15&nbsp;ноября 2028&nbsp;г. Точное местонахождения торгового объекта, время работы, а&nbsp;также иную информацию указана в&nbsp;разделе Контакты.
                    </p>
                    <p>Мы&nbsp;не&nbsp;осуществляем доставку алкогольной продукции. Запрет на&nbsp;дистанционную продажу алкогольной продукции установлен Федеральным законом от&nbsp;22&nbsp;ноября 1995&nbsp;г. &#8470;&nbsp;171-ФЗ и&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;27&nbsp;сентября 2007&nbsp;г. &#8470;&nbsp;612.</p>
                    <p>
                        <a href="#">Политика конфиденциальности</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-warning">
    <div class="container">
        <div class="footer-warning__text footer-warning__text--sm">
            <img src="img/footer_warning_sm.svg" class="img-cover" alt="">
        </div>
        <div class="footer-warning__text footer-warning__text--xl">
            <img src="img/footer_warning_xl.svg" class="img-cover" alt="">
        </div>
    </div>
</div>
