<div class="swiper" data-brands>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__01.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__02.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__03.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__04.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__05.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__06.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__07.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="brand">
                <div class="brand__logo">
                    <img src="img/content/brands/brand_logo__08.png" class="img-contain" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
