<div class="swiper" data-catalog-list>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#" class="catalog-item" data-stories-item>
                <i class="catalog-item__image">
                    <img src="img/content/catalog_sm__01.jpg" class="img-cover" alt="">
                </i>
                <span class="catalog-item__text">Белое вино</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="catalog-item" data-stories-item>
                <i class="catalog-item__image">
                    <img src="img/content/catalog_sm__02.jpg" class="img-cover" alt="">
                </i>
                <span class="catalog-item__text">Красное вино</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="catalog-item" data-stories-item>
                <i class="catalog-item__image">
                    <img src="img/content/catalog_sm__03.jpg" class="img-cover" alt="">
                </i>
                <span class="catalog-item__text">Вермут</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="catalog-item" data-stories-item>
                <i class="catalog-item__image">
                    <img src="img/content/catalog_sm__04.jpg" class="img-cover" alt="">
                </i>
                <span class="catalog-item__text">Портвейн</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="catalog-item" data-stories-item>
                <i class="catalog-item__image">
                    <img src="img/content/catalog_sm__05.jpg" class="img-cover" alt="">
                </i>
                <span class="catalog-item__text">Херес</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="catalog-item" data-stories-item>
                <i class="catalog-item__image">
                    <img src="img/content/catalog_sm__06.jpg" class="img-cover" alt="">
                </i>
                <span class="catalog-item__text">В подарок</span>
            </a>
        </div>
    </div>
</div>
