<div class="swiper" data-categories>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#" class="category-item category-item--sm">
                <i class="category-item__image">
                    <img src="img/content/category_item_image_01.jpg" class="img-fluid" alt="">
                </i>
                <span class="category-item__title">ВИНО</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="category-item category-item--md">
                <i class="category-item__image">
                    <img src="img/content/category_item_image_02.jpg" class="img-fluid" alt="">
                </i>
                <span class="category-item__title">ВИСКИ</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="category-item category-item--md">
                <i class="category-item__image">
                    <img src="img/content/category_item_image_03.jpg" class="img-fluid" alt="">
                </i>
                <span class="category-item__title">КОНЬЯК</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="category-item category-item--sm">
                <i class="category-item__image">
                    <img src="img/content/category_item_image_04.jpg" class="img-fluid" alt="">
                </i>
                <span class="category-item__title">КРЕПКИЕ НАПИТКИ (РОМ, ТЕКИЛЛА, ДЖИН, ГРАППА, САМБУКА, И ДР.)</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="category-item category-item--sm">
                <i class="category-item__image">
                    <img src="img/content/category_item_image_05.jpg" class="img-fluid" alt="">
                </i>
                <span class="category-item__title">ЛИКЕРЫ</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="category-item category-item--md">
                <i class="category-item__image">
                    <img src="img/content/category_item_image_06.jpg" class="img-fluid" alt="">
                </i>
                <span class="category-item__title">ШАМПАНСКОЕ</span>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="category-item category-item--sm">
                <i class="category-item__image">
                    <img src="img/content/category_item_image_07.jpg" class="img-fluid" alt="">
                </i>
                <span class="category-item__title">ВОДКА</span>
            </a>
        </div>
    </div>
</div>
