<div class="filter" data-filter>
    <button type="button" class="btn-close" data-filter-toggle>
        <svg class="ico-svg" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprites/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </button>
    <div class="filter__container">
        <div class="filter__scroll">
            <div class="filter__header">Фильтры</div>
            <div class="filter__categories">
                <div class="filter__title">Категория</div>
                <div class="filter__content">
                    <div class="filter__list">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox__input" name="n1" value="">
                            <span class="checkbox__item"></span>
                            <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox__input" name="n1" value="">
                            <span class="checkbox__item"></span>
                            <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox__input" name="n1" value="">
                            <span class="checkbox__item"></span>
                            <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox__input" name="n1" value="">
                            <span class="checkbox__item"></span>
                            <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox__input" name="n1" value="">
                            <span class="checkbox__item"></span>
                            <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                        </label>
                    </div>
                </div>
            </div><!-- .filter__categories -->
            <div class="filter__range">
                <div class="range" data-range>
                    <div class="range__title">Цена ₽:</div>
                    <div class="range__values">
                        <label class="range__value">
                            <span class="range__label">От</span>
                            <span class="range__placeholder"><span data-range-placeholder="from">1 450</span> ₽</span>
                        </label>
                        <label class="range__value">
                            <span class="range__label">До</span>
                            <span class="range__placeholder"><span data-range-placeholder="to">11 800</span> ₽</span>
                        </label>
                    </div>
                    <div class="range__slider">
                        <div class="range-slider"
                             data-range-slider
                             data-step="1"
                             data-start="1450, 11800"
                             data-min="1450"
                             data-max="11800">
                        </div>
                    </div>
                </div>
            </div><!-- .filter__range -->
            <div class="filter__options">
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Бренд</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Объем</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Страна</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Цвет</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Сахар</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Крепость</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Сорт вина</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
                <div class="filter__group" data-spoiler>
                    <div class="filter__toggle" data-spoiler-control>
                        <div class="filter__title">Год урожая</div>
                        <i class="filter__icon"></i>
                    </div>
                    <div class="filter__content" data-spoiler-content>
                        <div class="filter__list">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">КРЕПЛЕНОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПЛОДОВОЕ ВИНО</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ВЕРМУТ</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ПОРТВЕЙН</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" name="n1" value="">
                                <span class="checkbox__item"></span>
                                <span class="checkbox__label text-uppercase">ХЕРЕС</span>
                            </label>
                        </div>
                    </div>
                </div><!-- .filter__group -->
            </div><!-- .filter__options -->
        </div>
        <div class="filter__footer">
            <button type="button" class="btn btn-lg btn-primary w-100">
                <span>Показать 705 товаров</span>
            </button>
        </div><!-- .filter__footer -->
    </div><!-- .filter__container -->
</div><!-- .filter -->
<div class="filter-backdrop" data-filter-toggle></div><!-- .filter-backdrop -->
