<div class="how-buy">
    <div class="how-buy__header">
        <div class="how-buy__media">
            <img src="img/how_buy_image.jpg"  class="img-fluid" alt="">
        </div>
        <div class="how-buy__title">Как купить?</div>
    </div>
    <div class="how-buy__content">
        <div class="how-buy__item">
            <div class="how-buy__num">1</div>
            <div class="how-buy__lead">
                Резервируйте товар<br>
                с помощью сайта
            </div>
            <div class="how-buy__text">
                Используйте наш каталог для выбора напитков
            </div>
        </div>
        <div class="how-buy__item">
            <div class="how-buy__num">2</div>
            <div class="how-buy__lead">
                Приезжайте<br>
                в наш оффлайн магазин
            </div>
            <div class="how-buy__text">
                Используйте наш каталог для выбора напитков
            </div>
        </div>
        <div class="how-buy__item">
            <div class="how-buy__num">3</div>
            <div class="how-buy__lead">
                Оплачивайте заказ<br>
                на кассе магазина
            </div>
            <div class="how-buy__text">
                И мы принимаем к оплате
                VISA, МИР, MasterCard

            </div>
        </div>
        <div class="how-buy__item">
            <div class="how-buy__num">4</div>
            <div class="how-buy__lead">
                Забирайте<br>
                товар
            </div>
            <div class="how-buy__text">
                А мы будем ждать вас вновь<br>
                за новыми покупками
            </div>
        </div>
    </div>
</div>
