<div class="product-card">
    <button type="button" class="btn-close" data-card-close>
        <svg class="ico-svg" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprites/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </button><!-- .btn-close -->
    <div class="product-card__layout">
        <div class="product-card__wrapper">
            <div class="product-card__media">
                <div class="product-card__image">
                    <img src="img/product-card_image.png" class="img-cover" alt="">
                </div>
                <div class="product-card__info">
                    <div class="product-card__flag">
                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                    </div>
                    <div class="product-card__country">Италия</div>
                    <div class="product-card__vol">40%</div>
                </div>
                <div class="product-card__tags">
                    <div class="product-card__tag product-card__tag--orange">-13%</div>
                    <div class="product-card__tag product-card__tag--dark">new</div>
                </div>
                <button type="button" class="product-card__favorite" data-add-favorite>
                    <i>
                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </i>
                </button>
            </div>
            <div class="product-card__content">
                <div class="product-card__rating">
                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                        <div class="rating__body">
                            <div class="rating__stars">
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="rating__active" data-rating-active>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                                <div class="rating__star">
                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                    </div>
                </div>
                <div class="product-card__title">
                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г.</a>
                </div>
                <div class="product-card__options">
                    <div class="product-card__label">Выберите объем:</div>
                    <div class="option-group">
                        <label class="option">
                            <input type="radio" name="product-card-option" value="0.75" checked>
                            <span>0.75</span>
                        </label>
                        <label class="option">
                            <input type="radio" name="product-card-option" value="1">
                            <span>1</span>
                        </label>
                        <label class="option">
                            <input type="radio" name="product-card-option" value="1,2">
                            <span>1,2</span>
                        </label>
                    </div>
                </div>
                <div class="product-card__price">
                    <div class="product-card__price-current">1640 р.</div>
                </div>
                <div class="product-card__button">
                    <button type="button" class="btn btn-md btn-primary">Беру</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- .product-card -->
<div class="product-card-backdrop" data-card-close></div><!-- .product-card -->
