<div class="side-cart">
    <button type="button" class="btn-close" data-cart-close>
        <svg class="ico-svg" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprites/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </button><!-- .btn-close -->
    <div class="side-cart__scroll">
        <div class="side-cart__primary">
            <div class="side-cart__header">Товар добавлен в корзину</div>
            <div class="side-cart__list">
                <div class="item item-side-cart">
                    <div class="item__media">
                        <div class="item__image">
                            <img src="img/content/items/item_image__02.png" class="img-contain" alt="">
                        </div>
                        <div class="item__info">
                            <div class="item__flag">
                                <img src="img/flag_italy.svg" class="img-cover" alt="">
                            </div>
                            <div class="item__vol">40%</div>
                        </div>
                        <button type="button" class="item__favorite" data-add-favorite>
                            <i>
                                <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                    <div class="item__content">
                        <div class="item__wrap">
                            <div class="item__title">
                                <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г.</a>
                            </div>
                            <div class="item__volumes">
                                <div class="item__volume">1.2 л</div>
                            </div>
                        </div>
                        <div class="item__row">
                            <div class="item__quantity">
                                <div class="quantity" data-quantity>
                                    <button type="button" class="quantity__button quantity__button--minus" data-quantity-button="minus">-</button>
                                    <div class="quantity__field">
                                        <input type="number" class="quantity__input" min="1" max="99" value="1" data-quantity-input  {% if disabled %} disabled{% endif %}>
                                    </div>
                                    <button type="button" class="quantity__button quantity__button--plus" data-quantity-button="plus">+</button>
                                </div>
                            </div>
                            <div class="item__price">
                                <div class="item__price-current">1140 р.</div>
                            </div>
                        </div>
                        <button type="button" class="item__remove">
                            <svg class="ico-svg" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </button>
                    </div>
                </div><!-- .item -->
                <div class="item item-side-cart">
                    <div class="item__media">
                        <div class="item__image">
                            <img src="img/content/items/item_image__01.png" class="img-contain" alt="">
                        </div>
                        <div class="item__info">
                            <div class="item__flag">
                                <img src="img/flag_italy.svg" class="img-cover" alt="">
                            </div>
                            <div class="item__vol">40%</div>
                        </div>
                        <button type="button" class="item__favorite" data-add-favorite>
                            <i>
                                <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                    <div class="item__content">
                        <div class="item__wrap">
                            <div class="item__title">
                                <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г.</a>
                            </div>
                            <div class="item__volumes">
                                <div class="item__volume">1.2 л</div>
                            </div>
                        </div>
                        <div class="item__row">
                            <div class="item__quantity">
                                <div class="quantity" data-quantity>
                                    <button type="button" class="quantity__button quantity__button--minus" data-quantity-button="minus">-</button>
                                    <div class="quantity__field">
                                        <input type="number" class="quantity__input" min="1" max="99" value="1" data-quantity-input  {% if disabled %} disabled{% endif %}>
                                    </div>
                                    <button type="button" class="quantity__button quantity__button--plus" data-quantity-button="plus">+</button>
                                </div>
                            </div>
                            <div class="item__price">
                                <div class="item__price-current">1140 р.</div>
                            </div>
                        </div>
                        <button type="button" class="item__remove">
                            <svg class="ico-svg" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </button>
                    </div>
                </div><!-- .item -->
                <div class="item item-side-cart">
                    <div class="item__media">
                        <div class="item__image">
                            <img src="img/content/items/item_image__04.png" class="img-contain" alt="">
                        </div>
                        <div class="item__info">
                            <div class="item__flag">
                                <img src="img/flag_italy.svg" class="img-cover" alt="">
                            </div>
                            <div class="item__vol">40%</div>
                        </div>
                        <button type="button" class="item__favorite" data-add-favorite>
                            <i>
                                <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                    <div class="item__content">
                        <div class="item__wrap">
                            <div class="item__title">
                                <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г.</a>
                            </div>
                            <div class="item__volumes">
                                <div class="item__volume">1.2 л</div>
                            </div>
                        </div>
                        <div class="item__row">
                            <div class="item__quantity">
                                <div class="quantity" data-quantity>
                                    <button type="button" class="quantity__button quantity__button--minus" data-quantity-button="minus">-</button>
                                    <div class="quantity__field">
                                        <input type="number" class="quantity__input" min="1" max="99" value="1" data-quantity-input  {% if disabled %} disabled{% endif %}>
                                    </div>
                                    <button type="button" class="quantity__button quantity__button--plus" data-quantity-button="plus">+</button>
                                </div>
                            </div>
                            <div class="item__price">
                                <div class="item__price-current">1140 р.</div>
                            </div>
                        </div>
                        <button type="button" class="item__remove">
                            <svg class="ico-svg" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>

                        </button>
                    </div>
                </div><!-- .item -->
            </div><!-- .side-cart__list -->
            <div class="side-cart__total">Сумма: 10580р.</div>
            <div class="side-cart__buttons">
                <a href="#" type="button" class="btn btn-md btn-primary">
                    <span>Перейти в корзину</span>
                </a>
                <button type="button" class="btn btn-md btn-outline" data-cart-close>
                    <span>Продолжить покупки</span>
                </button>
            </div>
        </div>
        <div class="side-cart__products">
            <div class="compilation-title">Вам понравится:</div>
            <div class="swiper" data-compilation-sm>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__01.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__05.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__03.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__04.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__01.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__05.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__03.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                    <div class="swiper-slide">
                        <div class="item item-sm">
                            <div class="item__media">
                                <div class="item__image">
                                    <img src="img/content/items/item_image__04.png" class="img-contain" alt="">
                                </div>
                                <div class="item__info">
                                    <div class="item__flag">
                                        <img src="img/flag_italy.svg" class="img-cover" alt="">
                                    </div>
                                    <div class="item__vol">40%</div>
                                </div>
                                <button type="button" class="item__favorite" data-add-favorite>
                                    <i>
                                        <svg class="ico-svg" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite.svg#heart-small" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </i>
                                </button>
                                <button type="button" class="item__purchase" data-item-purchase>
                                    <span>Беру</span>
                                </button>
                            </div>
                            <div class="item__content">
                                <div class="item__rating">
                                    <div class="rating" data-rating="4.8" data-rating-readonly="true">
                                        <div class="rating__body">
                                            <div class="rating__stars">
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="rating__active" data-rating-active>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                                <div class="rating__star">
                                                    <svg class="ico-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rating__value"><span data-rating-value>4.8</span> (23)</div>
                                    </div>
                                </div>
                                <div class="item__title">
                                    <a href="#">Коньяк Frapin VSOP Grande Chsmpagne 2020 г</a>
                                </div>
                                <div class="item__volumes">
                                    <div class="item__volume">800 мл</div>
                                    <div class="item__volume">1.2 л</div>
                                    <div class="item__volume">1.5 л</div>
                                </div>
                                <div class="item__price">
                                    <div class="item__price-current">1640 р.</div>
                                </div>
                            </div>
                        </div><!-- .item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- .side-cart -->
<div class="side-cart-backdrop" data-cart-close></div><!-- .side-cart-backdrop -->
