<nav class="top-nav">
    <div class="container">
        <ul class="top-nav__menu">
            <li class="top-nav__item">
                <button type="button" class="nav-toggle" data-catalog-toggle>
                    <i class="nav-toggle__icon"></i>
                    <span class="nav-toggle__text">Каталог</span>
                </button>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">ВИСКИ</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">КОНЬЯК</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">ВОДКА</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">ВИНО</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">ШАМПАНСКОЕ</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">КРЕПКИЕ НАПИТКИ</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">ЛИКЕРЫ</a>
            </li>
        </ul>
    </div>
</nav>
