<div class="wine-library">
    <div class="wine-library__bg">
        <img src="img/wine_library.jpg" class="img-cover" alt="">
    </div>
    <div class="wine-library__media">
        <div class="wine-library__icon">
            <img src="img/wine_library_icon.svg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="wine-library__content">
        <div class="wine-library__header">Посетите винотеку</div>
        <div class="wine-library__text">
            <p>Встречи с друзьями могут быть не просто вкусными, но и винно-познавательными.</p>
            <p>Шеф-сомелье нашей винотеки подготовил для вас винные дегустации и гастрономические вечера на различные винные тематики.</p>
        </div>
    </div>
    <a href="#" class="wine-library__button">Подробнее</a>
</div>
